<nav class="navbar navbar-dark bg-faded" ng-controller="navCtrl">
    <!-- John Dulaney button -->
    <a class="navbar-brand nav-item nav-link active" ng-click="showSplash()" href="#">John Dulaney
        <span class="sr-only">(current)</span>
    </a>
        <!-- projects button -->
        <a class="nav-item nav-link" ng-click="showProjects()">
            Projects
        </a>

        <!-- tech button -->
        <a class="nav-item nav-link" ng-click="showTech()">
            Tech
        </a>

        <!-- linkedin button  -->
        <a class="nav-item nav-link" ng-click="showLinkedIn()">
            LinkedIn
        </a>

        <!-- github button -->
        <a class="nav-item nav-link" ng-click="showGitHub()">
            Github
        </a>

        <!-- email button -->
        <a class="nav-item nav-link" ng-click="showSendMail()" href="mailto:john.s.dulaney1@gmail.com">
            Email
        </a>
</nav>