<div class="container text-wrapper">

<a href="https://angularjs.org/"><img class="techImage" src="../../lib/images/icons/angular.png" alt=""></a>
<a href="https://en.wikipedia.org/wiki/Application_programming_interface"><img class="techImage" src="../../lib/images/icons/api.png" alt=""></a>
<a href="https://www.asp.net/mvc"><img class="techImage" src="../../lib/images/icons/aspmvc.jpeg" alt=""></a>
<a href="https://getbootstrap.com/"><img class="techImage" src="../../lib/images/icons/bootstrap.png" alt=""></a>
<a href="https://docs.microsoft.com/en-us/dotnet/csharp/"><img class="techImage" src="../../lib/images/icons/cSharp.png" alt=""></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"><img class="techImage" src="../../lib/images/icons/css3.png" alt=""></a>
<a href="https://firebase.google.com/"><img class="techImage" src="../../lib/images/icons/firebase.png" alt=""></a>
<a href="https://git-scm.com/"><img class="techImage" src="../../lib/images/icons/git.png" alt=""></a>
<a href="https://github.com/"><img class="techImage" src="../../lib/images/icons/github.png" alt=""></a>
<a href="https://gruntjs.com/"><img class="techImage" src="../../lib/images/icons/grunt.png" alt=""></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><img class="techImage" src="../../lib/images/icons/html5.png" alt=""></a>
<a href="https://www.javascript.com/"><img class="techImage" src="../../lib/images/icons/javascript.png" alt=""></a>
<a href="https://jquery.com/"><img class="techImage" src="../../lib/images/icons/jquery.png" alt=""></a>
<a href="https://www.json.org/"><img class="techImage" src="../../lib/images/icons/json.png" alt=""></a>
<a href="http://materializecss.com/"><img class="techImage" src="../../lib/images/icons/materialize.png" alt=""></a>
<a href="https://www.microsoft.com/net/"><img class="techImage" src="../../lib/images/icons/msnet.jpeg" alt=""></a>
<a href="https://www.npmjs.com/"><img class="techImage" src="../../lib/images/icons/npm.png" alt=""></a>
<a href="https://www.sqlite.org/"><img class="techImage" src="../../lib/images/icons/sqlite.jpeg" alt=""></a>


</div>