<div class="navBar" ng-controller="navCtrl">

    <div class="devIcons">
        <div ng-click="toSplash()">
            <h1>John Dulaney</h1>
        </div>
        <div ng-click="toSplash()">
            <i class="far fa-user"></i>
        </div>
    </div>

    <div class="linksSubGrid">

        <div ng-click="toProjects()">
            <div>
                <i class="fas fa-code"></i>
            </div>
            <div>
                <h5>Projects</h5>
            </div>
        </div>

        <div ng-click="toTech()">
            <div>
                <i class="fas fa-wrench"></i>
            </div>
            <div>
                <h5>Technologies</h5>
            </div>
        </div>

        <div ng-click="toLinkedIn()">
            <div>
                <i class="fab fa-linkedin"></i>
            </div>
            <div>
                <h5>LinkedIn</h5>
            </div>
        </div>

        <div ng-click="toGitHub()">
            <div>
                <i class="fab fa-github-alt"></i>
            </div>
            <div>
                <h5>Github</h5>
            </div>
        </div>

        <!-- <div ng-click="toPdf()">
            <div>
                <i class="far fa-list-alt"></i>
            </div>
            <div>
                <h5>Resume</h5>
            </div>
        </div> -->

        <div ng-click="toSendMail()">
            <div>
                <i class="far fa-envelope"></i>
            </div>
            <div>
                <h5>Email</h5>
            </div>
        </div>

    </div>
</div>