<div class="" ng-controller="navCtrl">
    <!-- John Dulaney button -->
    <a class="navbar-brand nav-item nav-link active" ng-click="showSplash()" href="#">John Dulaney
        <span class="sr-only">(current)</span>
    </a>

    <!-- container for subsequent buttons -->
    <div class="" id="navbarNavAltMarkup">

        <!-- projects button -->
        <a class="nav-item nav-link" ng-click="showProjects()">
            Projects
            <!-- <a class="fas fa-code"></a> -->
        </a>

        <!-- tech button -->
        <a class="nav-item nav-link" ng-click="showTech()">
            Tech
            <!-- <a class="fas fa-wrench"></a> -->
        </a>

        <!-- linkedin button  -->
        <a class="nav-item nav-link" ng-click="showLinkedIn()">
            LinkedIn
            <!-- <a class="fab fa-linkedin"></a> -->
        </a>

        <!-- github button -->
        <a class="nav-item nav-link" ng-click="showGitHub()">
            Github
            <!-- <a class="fab fa-github-alt"></a> -->
        </a>

        <!-- email button -->
        <a class="nav-item nav-link" ng-click="showSendMail()" href="mailto:john.s.dulaney1@gmail.com">
            Email
            <!-- <a class="far fa-envelope"></a> -->
        </a>

        <!-- resume pdf button  -->
        <!-- <a class="nav-item nav-link" ng-click="showPdf()">
            Resume
            <a class="far fa-list-alt"></a>
        </a> -->
    </div>
</div>