<div class="navBar" ng-controller="navCtrl">
    <!-- John Dulaney button -->
    <a class="navbar-brand nav-item nav-link active devIcons" ng-click="toSplash()" href="#">John Dulaney
        <span class="sr-only">(current)</span>
    </a>
    <div ng-click="toSplash()">
        <a class="far fa-user"></a>
    </div>

    <!-- container for subsequent buttons -->
    <div class="" id="navbarNavAltMarkup">

        <!-- projects button -->
        <a class="nav-item nav-link" ng-click="toProjects()">
            Projects
            <a class="fas fa-code"></a>
        </a>

        <!-- tech button -->
        <a class="nav-item nav-link" ng-click="toTech()">
            Tech
            <a class="fas fa-wrench"></a>
        </a>

        <!-- linkedin button  -->
        <a class="nav-item nav-link" ng-click="toLinkedIn()">
            LinkedIn
            <a class="fab fa-linkedin"></a>
        </a>

        <!-- github button -->
        <a class="nav-item nav-link" ng-click="toGitHub()">
            Github
            <a class="fab fa-github-alt"></a>
        </a>

        <!-- email button -->
        <a class="nav-item nav-link" ng-click="toSendMail()" href="mailto:john.s.dulaney1@gmail.com">
            Email
            <a class="far fa-envelope"></a>
        </a>

        <!-- resume pdf button  -->
        <!-- <a class="nav-item nav-link" ng-click="toPdf()">
            Resume
            <a class="far fa-list-alt"></a>
        </a> -->
    </div>
</div>