<!-- Navbar -->


<ul ng-controller="NavController" class="navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">

    <li>
        <a href="/#!/app/Partials/Welcome" class="active navtitle">John Dulaney</a>
    </li>
    <li>
        <a href="/#!/app/Partials/Blog">Blog</a>
    </li>
    <li>
        <a href="/#!/app/Partials/Projects">Projects</a>
    </li>
    <li>
        <a href="/#!/app/Partials/Resume">Resume</a>
    </li>
</ul>









<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="./index.html">John Dulaney</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav" id="nav">

</div>
</div>
</nav> -->