<div class="projectsWrap">

    <div ng-click="rightClick(projDisplay)" class="rightArrow">
        <h2>
            <i class="fas fa-angle-right"></i>
        </h2>
    </div>

    <div ng-click="leftClick(projDisplay)" class="leftArrow">
        <h2>
            <i class="fas fa-angle-left"></i>
        </h2>
    </div>

    <div class="projectsWrap2">

        <div ng-repeat="(key, value) in projects">
            <div ng-if="projDisplay === key">
                <div>
                    <div>
                        {{value.name}}
                    </div>
                    <div ng-click="linkTo(value.gitUrl)">
                        View source code on GitHub
                    </div>
                    <div ng-click="linkTo(value.siteUrl)">
                        Visit Site
                    </div>
                    <div>
                        {{value.overview}}
                    </div>
                </div>

                <div class="buttonWrap">
                    <div ng-repeat="(key, value) in value.grabs">
                        <button ng-click="changeGrab(key)" class="projButton">
                            {{value.name}}
                        </button>
                    </div>
                </div>

                <div ng-repeat="(key, value) in value.grabs">
                    <div ng-if="grabDisplay === key">
                        <div>
                            <div>
                                {{value.name}}
                            </div>
                            <div>
                                {{value.description}}
                            </div>
                        </div>
                        <div>
                            <div>
                                <img class="projImg" ng-src="{{value.img}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="projectNumbers">
        <div ng-repeat="(key, value) in projects">
            <p ng-click="numbClick(key)">
                {{key}}
            </p>
        </div>
    </div>

</div>