<div class="container text-wrapper">
    <h2>Some Projects that I have created or Contributed to:</h2>
</div>

<div class="container text-wrapper" >
    <div class="row">
        <div class="card-columns d-inline-block ">
            <div class="“col-md-4”" ng-repeat="(key, value) in myProjects">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src={{value.picture}} alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{value.name}}</h4>
                        <p class="card-text">{{value.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> {{value.techUsed}} </li>
                        <li class="list-group-item">{{value.teammates}}</li>
                    </ul>
                    <div class="card-block">
                        <a ng-click="linkTo(value.gitUrl)" class="card-link">Github Repo</a>
                        <a ng-click="linkTo(value.siteUrl)" class="card-link">Site Link (if available)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>