<ul ng-controller="NavigationCtrl" class="nav-wrapper nav-extended grey darken-2 white-text ">
     
    <li><a href="/#!/stocks/userdash" class="active navtitle">Everyday Stock App</a></li>
    <li><a href="/#!/stocks/quote">Get a Quote</a></li>
    <li><a href="#!/stocks/invest">Bitcoin</a></li>
    <li><a href="#!/stocks/about">About Us</a></li>
    <li class="right">
        <span ng-if="isAuthenticated()" class="right">
            <a href="#" ng-click="logout()" class="right">Logout</a>
        </span>
        <span ng-if="!isAuthenticated()"></span>
    </li>
</ul>





<!-- <li ng-controller="AuthCtrl" class="right">Welcome {{ userEmail }}</li> -->
<!-- <li ng-controller="StocksInvestCtrl" class="right"><a href="/#!/stocks/invest">Credits amount: {{ currentCredit }}</a></li> -->
<!-- <li><a href="https://john-dulaney.github.io/front-end-capstone/#!/stocks/userdash" class="active">Home</a></li> -->
<!-- <li><a href="https://john-dulaney.github.io/front-end-capstone/#!/stocks/quote">Get a Quote</a></li> -->
<!-- <li><a href="https://john-dulaney.github.io/front-end-capstone/#!/stocks/invest">Bitcoin</a></li> -->
<!-- <li><span ng-include="'app/navigation/partials/search.html'"></span></li> -->