<!-- <div>

    <h3>Welcome to the Every Day Stock App</h3>

    <p>Please login, or create an account in order to proceed.</p>
    <input type="email" id="regForm_email" placeholder="Email address" ng-model="auth.email" ng-keydown="$event.keyCode === 13 && logMeIn(auth)" autofocus>
    <input type="password" id="regForm_password" placeholder="Password" ng-model="auth.password" ng-keydown="$event.keyCode === 13 && logMeIn(auth)">
    <button ng-click="registerUser(auth) ">Register</button>
    <button ng-click="logMeIn(auth)">Login</button>

</div> -->
