body {
    margin: 0;
    background-color: #d3f1f6
}

nav {
    background-color: #292b2c;
    color: white;
}

.text-wrapper {
    margin-top: 60px;
}

.container {
    align-content: center;
    text-align: center;
    background-color:azure;
    padding: 30px;
}

.splashPictures {
    height: 200px;
    width: 170px;
    margin-bottom: 22px;
}

.card-img-top{
    width: 300px;
    height:300px;
}

.card-text, .card-title, .card-link, .list-group-item {
    padding:10px;
    text-align: center
}

.card {
    display:inline-block;
}

.techImage{
    height: 120px;
    width: 120px;
    padding: 10px;
}


a, .nav-item {
    color: white;
}

a,
a label {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.navtitle:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1);
}

a:focus {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
    color: white;
}